<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../public/libs/bootstrap-5.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">
    <script src="../public/libs/bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
    <script src="../public/libs/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/fontawesome.js"></script>
    <script src="../public/js/script.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white border mb-4">
        <div class="container-fluid">
          <img src="../public/img/src-eco-store/logo.jpg" class="navbar-brand logo-text logo" title="LogoBuenaVida" alt="LogoBuenaVida" class="logo">
          <!-- <a class="navbar-brand logo-text" href="#">Santiago</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container">
                <div class="row height d-flex justify-content-center align-items-center">
                  <div class="col-10">
                    <div class="form">
                      <input type="text" class="form-control form-input" placeholder="¿Qué producto estás buscando...?">
                      <span class="left-pan"><i class="fa fa-search" style="color:#006414"></i></span>
                    </div>
                  </div>
                </div>
              </div>

            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link fav color-verde" href="#fav"><i class="fa-regular fa-heart fa-2x color-verde"></i>Portafolio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link color-verde" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-user fa-2x color-verde"></i>
                    Mi Cuenta
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user fa-xs"></i>  Mi Cuenta</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"><i class="fa-regular fa-heart"></i>  Mis Favoritos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-cart-shopping"></i>  Mi Carrito</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-lock"></i></i> Entrar</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user-plus"></i> Crear una Cuenta</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link fav color-verde" href="#carrito"><i class="fa-solid fa-cart-shopping fa-2x color-verde"></i><span>Mi Carrito</span></a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

      <div class="container text-center card-group ms-auto p-sm-2">
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/1.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">Aceite esencial de Clavo</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0">12ML</p>
            <p class="card-text text-success m-0">Sale a: 665,83 €/L</p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">7,99 €</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/2.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">Parches de Oro de 24 kt Rejuvenecedores para Contorno de Ojos</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0">60UDS.</p>
            <p class="card-text text-success m-0">Sale a: 0,26 €/ud.</p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">15,50 €</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/3.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">Parches Iluminadores para el Contorno de Ojos</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0">60UDS</p>
            <p class="card-text text-success m-0">Sale a: 0,26 €/ud</p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">15,50 €</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/4.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">Parches Supertonificantes para Contorno de Ojos</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0">60UDS</p>
            <p class="card-text text-success m-0"></p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">15,50 €</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
      </div>

      <div class="container text-center card-group ms-auto p-sm-2">
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/5.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">6 Discos Desmaquillantes de Fibra Natural</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0">6UDS</p>
            <p class="card-text text-success m-0">SSale a: 1,75 €/ud</p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">Sale a: 1,75 €/ud</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/6.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">Aceite anticelulítico de abedul</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0">100ML</p>
            <p class="card-text text-success m-0">Sale a: 229,00 €/L</p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">22,90 €</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/7.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">Aceite antiinflamatorio S.O.S Rescate</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0">30ML</p>
            <p class="card-text text-success m-0">Sale a: 415,00 €/L</p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">12,45 €</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/8.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">Aceite Bucal de Coco Orgánico Premium</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0">180ML</p>
            <p class="card-text text-success m-0">Sale a: 53,33 €/L</p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">9,60 €</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
      </div>

      <div class="container text-center card-group ms-auto p-sm-2 ">
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/9.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">Aceite corporal blanco siberiano anticelulítico de Natura Siberica</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0">200ML</p>
            <p class="card-text text-success m-0">Sale a: 34,75 €/L</p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">6,95 €</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/10.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">Aceite corporal Body Sculptor</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0"></p>
            <p class="card-text text-success m-0">Sale a: 491,33 €/L</p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">73,70 €</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/11.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">Aceite corporal de almendras dulces</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0">500ML</p>
            <p class="card-text text-success m-0">Sale a: 20,90 €/L</p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">10,45 €</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
        <div class="card border-0">
          <img class="card-img-top m-auto m-0" src="../public/img/src-eco-store/12.jpg" style="width: 13rem;" alt="Card image cap">
          <div class="card-body p-lg-1">
            <h5 class="card-title fw-bold">Aceite corporal de almendras dulces con dosificador 1L</h5>
            <p class="card-text fw-bold fw-bolder text-black-50 m-0">1L</p>
            <p class="card-text text-success m-0">Sale a: 14,99 €/L</p>
            <p class="card-text fw-bold" style="color: #5ccb5f;">14,99 €</p>
            <a href="#" class="btn btn-primary text-center align-middle botoncart"><i class="fa-solid fa-cart-plus"></i> Añadir a la cesta</a>
          </div>
        </div>
      </div>
      
</body>
</html>